<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">




<mapper namespace="com.hk.ansboard">
	<sql id="paramseq">   
       SEQ=#{seq}      
    </sql>

   
   <select id="boardlist" resultType="AnsDto" parameterType="Map"> 
       SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DEFLAG FROM ANSWERBOARD 
      <if test="seq!=null">
         <where>
         <include refid="paramseq"/>
         </where>
      </if>
       
       ORDER BY REFER,STEP
   </select>
   
   
  
   <select id="getboard" parameterType="int" resultType="AnsDto">
      SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DEFLAG FROM ANSWERBOARD WHERE SEQ=#{seq}
   </select>
   
   <insert id="insertboard" parameterType="AnsDto">
      INSERT INTO ANSWERBOARD
      (SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DEFLAG)
      VALUES(ANSWERBOARD_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE,
      (SELECT NVL(MAX(REFER)+1,0) FROM ANSWERBOARD),0,0,0,'N')
   </insert>
   
   <update id="updateboard" parameterType="AnsDto">
      UPDATE ANSWERBOARD SET TITLE=#{title},CONTENT=#{content},REGDATE=SYSDATE 
      <where>
         <include refid="paramseq"></include>
      </where>
   </update>
   
   <update id="muldelboard" parameterType="Map">
         UPDATE ANSWERBOARD SET DEFLAG='Y' WHERE SEQ IN
         <foreach collection="seqs" item="seq" open="(" close=")" separator=",">
         #{seq}
         </foreach>
   </update>
   
   <update id="replyupdate" parameterType="int">
         <![CDATA[
         UPDATE ANSWERBOARD SET STEP=STEP+1 WHERE REFER=(SELECT REFER FROM ANSWERBOARD WHERE SEQ=#{seq})
      AND STEP > (SELECT STEP FROM ANSWERBOARD WHERE SEQ=#{seq})
      ]]>   
   </update>
   
   <insert id="replyinsert" parameterType="AnsDto">
         INSERT INTO ANSWERBOARD VALUES(ANSWERBOARD_SEQ.NEXTVAL,#{id},#{title},#{content},SYSDATE,
                                (SELECT REFER FROM ANSWERBOARD WHERE SEQ=#{seq}),
                                (SELECT STEP FROM ANSWERBOARD WHERE SEQ=#{seq})+1,
                                (SELECT DEPTH FROM ANSWERBOARD WHERE SEQ=#{seq})+1,
                                0,'N')
   </insert>
   
   <update id="readcount" parameterType="int">
      UPDATE ANSWERBOARD SET READCOUNT=READCOUNT+1 WHERE SEQ=#{seq}
   </update>
   
   <select id="detailAjax" parameterType="int" resultType="AnsDto">
         SELECT CONTENT FROM ANSWERBOARD WHERE SEQ=#{seq}
   </select>
 
</mapper>


